<html>
<head>
	<meta name="viewport" content="width=1080, user-scalable=no">
	<title>CatchIt</title>
	<link rel="stylesheet" type="text/css" href="./../stylesheets/style.css">
</head>
<body>
	<div id="wrapper" class="catch_background">
		<div id="content">
			<h1 class="huge">CatchIt</h1>
			<h3 class="large">Welcome, User</h3>

			<button class="catch_btn button"><a href="catchit_game" class="medium">Start New Game</a></button>
			<button class="catch_btn button"><a href="" class="medium">Join a Friend's Game</a></button>
		</div>
	</div>

</body>
</html>