<html>
<head>
	<title>CatchIt</title>
</head>
<style type="text/css">


*{
	font-family:helvetica,arial,sans-serif;
	text-align:center;
}

#wrapper{
	width:540px; /* 540 */
	height:840px; /* 960 */
	margin:-10px -10px;
	border:1px solid green;
	background-image:url('./../images/catch/catch_background.jpg'); /* .png */
	background-size: 100%;
}
#gameboard{
	margin:225px 0px;
	border:5px solid red;
}
#play{
	font-size:18px;
	background: linear-gradient(#F78181, #FE2E2E, #F78181);
	border-radius:10px;
	border:1px solid #FF0000;
	height:75px;
	width:100px;
	color:white;
}
.lollypop{
	
	width:80px; /* 80 */
	height:130px; /* 130 */
	background-size: cover;
	background-image:url('./../images/catch/lollipop.png');
	
}
.alpha{
	font-family:"Comic Sans MS",helvetica,cursive, sans-serif;
	text-shadow: 3px 3px #FF0000;
	margin-top: 8px;
	font-size:48px;
	font-weight: bold;
	color:white;
	text-align: center;
}
.kid{
width:170px; /* 170 */
	height:200px; /* 200 */
}
#score{
	font-family:"Comic Sans MS", cursive, sans-serif;
	text-shadow: 3px 3px #FF0000;
	font-size: 40px;
	height:100px; /* 100 */
	border:2px solid white;
	color:white;
	vertical-align: top;
	padding-top: 15px;
}
#score img{
	margin-top: -15px;
}
#image{
	width:75;
}
#points {
width: 100;	
display: inline;
}
#word{
width: 100;	
	display: inline;
}
.huge{
	width:500px;
	height:500px;
	background-color: red;
	position: absolute;
	top:175; /* 400 */
	left:15;
	font-size:30px;
	color:white;
	border-radius: 50%;
	opacity: 0.9;
	text-align: center;
}
.huge h1{
	width:400;
	margin-top:200;
	margin-left:50px
}
#controls{
	display: inline-block;
	position: absolute;
	width:520px; /* 520 */
	height:70px; /* 70 */
	top:760px; /* 880 */
	left:10px; /* 10 */	
}
.button{
	font-size: 10px;
	font-weight: bold;
	display: inline-block;
	width:140px; /* 140 */
	height:70px; /* 70 */
	color:white;
	margin: 0px 3px;
	vertical-align: top;
}

a {
	text-decoration: none;
	color: white;
	font-size:18px;
}

</style>
<body>
	<div id="wrapper">
		<div id="score">
			<div id="image"></div>			
			<div>Score: <div id="points"></div></div>
			<div>Word: <div id="word"></div></div>		
		</div>
		<div id="pop">	
		</div>	
		<div id="win">
			<!-- <h1 class="huge"> Good Job!!!</h1> -->
		</div>	
		<div id="kid">				
		</div>
		<div id="controls">
			<!-- <button id="left" class="button"><</button><button id="middle" class="button">JUMP</button><button id="right" class="button">></button> -->
			<img class="button" id="left" src="./../images/catch/left.png">
			<img class="button" id="middle" src="./../images/catch/star.png">
			<img class="button" id="right" src="./../images/catch/right.png">

		</div>	

	</div>

</body>
<script>

function CatchIt()
{
	var countArray = [0,1,2,3,4,5];
	var elem = document.getElementById('pop');
	var girl = new Kid();
	var letter = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];
	this.lollipopLetters = [];	
	this.word = new randomWord();
	this.counter = 0;
	this.lollipops = [];
	this.spelling = this.word.spellWord();
	this.result = [];
	var map = [1, 1, 1, 1, 1, 1];
	this.i = 0
	this.score = 0;
	this.playGame = function()
	{		
		this.dropLollipops();
		this.updateLollipop();		
		this.bringDown();
	}
	this.makeLetterArray = function()
	{
		this.lollipopLetters.push(letter[Math.floor(Math.random()*26)]);
		for (var i in this.spelling){
			this.lollipopLetters.push(this.spelling[i]);
		}
	}
	//create a new lollipop and add it to the game
	this.makeLollipop = function()
	{ 
		var alphabet = this.lollipopLetters[Math.floor(Math.random() * 4)];
		var index = Math.floor(Math.random() * countArray.length);
		var y = 60;
		var x = countArray[index] * 80 + 10;	//x = x * 80 + 20;
		countArray[index] = countArray[countArray.length-1];
		countArray.pop();
		if (countArray.length == 0) {
			countArray = [0,1,2,3,4,5];
		}
		this.counter++;
		var newLolli = new Lollipop(this.counter, x, y, alphabet);
		this.lollipops.push(newLolli);
		//elem.innerHTML += "<img class='lollypop' id='" + newLolli.id +"' src='./../images/catch/alphabets/"+alphabet+".png' style='position:absolute;left:" + newLolli.x + " ;top:"+ newLolli.y +";'>";
		elem.innerHTML += "<div class='lollypop' id='" + newLolli.id +"' style='position:absolute;left:" + newLolli.x + " ;top:"+ newLolli.y +";'><div class='alpha'>"+alphabet+"</div></div>";
		
	}
	this.dropLollipops = function()
	{
		for(var i=this.lollipops.length-1; i>=0; i--)
		{
			this.lollipops[i].y = this.lollipops[i].y + 5;
			if(this.lollipops[i].exist == true && this.lollipops[i].y > 460) //if(this.lollipops[i].exist == true && this.lollipops[i].y > 580)
			{
				document.getElementById(this.lollipops[i].id).remove();
				this.lollipops[i].exist = false;
			}					
		}
	}
	this.updateLollipop = function()
	{
		for(i in this.lollipops){
			pop = document.getElementById(this.lollipops[i].id);
			if(pop)
			{
				pop.style.top = this.lollipops[i].y;
			}
		}
	}
	this.checkLetter = function(letter)	
	{	var sound = new Audio('./../sounds/catch/applause.mp3');
		var sound2 = new Audio('./../sounds/catch/hooray.mp3');
		var points = document.getElementById('points');
		if(this.i < 4)
		{
			if(this.spelling[this.i] == letter){
				sound2.play();
				var result = document.getElementById('word');
				this.score +=10;
				result.innerHTML += letter; 
				points.innerHTML = this.score;
				this.i++;
			}
			if(this.i == 3){

				var win = document.getElementById('wrapper')
				win.innerHTML = "<div class='huge'><h1>Good Job!!!</h1><button id='play'><a href='catchit_game'>Play Again</a></button></div>";
				sound.play();
				clearInterval(one);
				clearInterval(two);
			}		
		}
	}		
	this.detectCollision = function()
	{ 
		for(i in this.lollipops){
			if(this.lollipops[i].exist == true){
				var delta_y = girl.info.top - (this.lollipops[i].y + 130) //var delta_y = girl.info.top - (this.lollipops[i].y + 130)
				var lx = this.lollipops[i].x + 40; //var lx = this.lollipops[i].x + 40;

				if(delta_y <= 0)
				{
					if(lx > girl.info.left && lx < girl.info.left + 85 ) //if(lx > girl.info.left && lx < girl.info.left + 85 )
					{
						var that = this.lollipops[i];
						this.checkLetter(this.lollipops[i].alphabet);
						document.getElementById(that.id).remove();
						 that.exist = false;
					}
				} 
			}	
		}
	}
	this.bringDown = function()
	{
		if(girl.info.jump == true ){
			if(girl.info.top != 580) //if(girl.info.top != 700)
			{ 
				girl.info.top += 30;
				girl.drawKid();
			}
			else
			{
				girl.info.jump = false;
			}
		}
	}
	this.moveKid = function()
	{	var that = this;
		document.onkeydown = function(e)
		{
			if(e.keyCode == 37 && girl.info.left >= 0)
			{
				girl.info.left -= 15;
				girl.drawKid();
			}
			else if(e.keyCode == 39 && girl.info.left <= 372)
			{
				girl.info.left += 15;
				girl.drawKid();
			}
			else if(e.keyCode == 32 || e.keyCode == 38)
			{	
				girl.info.top = 430; //girl.info.top = 550;
				girl.jump(girl.info.left, girl.info.top);
				girl.info.jump = true;
				that.detectCollision();
				
			}						
		}
		document.getElementById('left').onclick = function(e){
			if(girl.info.left >= 0)
			{
				girl.info.left -= 15;
				girl.drawKid();
			}

		}
		document.getElementById('right').onclick = function(e){
			if(girl.info.left <= 372) //if(girl.info.left <= 372)
			{
				girl.info.left += 15;
				girl.drawKid();
			}

		}
		document.getElementById('middle').onclick = function(e){
				girl.info.top = 430; //girl.info.top = 550;
				girl.jump(girl.info.left, girl.info.top);
				girl.info.jump = true;
				that.detectCollision();
		}
	}

	this.makeLetterArray();
	this.word.drawImage();
	this.word.spellWord();	
	girl.drawKid();	
	this.moveKid();	
}

function Lollipop(id, x, y, alphabet){	
	this.x = x;//Math.floor(Math.random()*360)+ 100;
	this.y = y+ 40; //80;
	this.id = id;
	this.alphabet = alphabet;
	this.exist = true;

}
function Kid()
{		this.info = {
			top: 580, //700
			left: 190, //215
			jump: false
		}
		this.drawKid = function()
		{
			var kid = document.getElementById('kid');		
			kid.innerHTML = "<img class='kid' src='./../images/catch/girl.png' style='position:absolute;  left:"+this.info.left+"px; top:"+this.info.top+"px;'>"
		}
		this.jump = function(left, top)
		{
			var kid = document.getElementById('kid');		
			kid.innerHTML = "<img class='kid' src='./../images/catch/girl.png' style='position:absolute;  left:"+left+"px; top:"+top+"px;'>"			
		}		
}
function randomWord()
{		
	var words = ['bee','hat','bus','car','cat','cow','dog','egg','pig','ant'];
		this.word = words[Math.floor(Math.random()*10)];
		this.drawImage = function()
		{
			var image = document.getElementById('image');		
			image.innerHTML = "<img src='./../images/catch/words/Level1/"+this.word+".png' style='position:absolute; width:60; height:80; left:25px; top:25px;'>"
			//image.innerHTML = "<img src='./../images/catch/words/Level1/"+this.word+".png' style='position:absolute; width:60; height:80; left:50px; top:50px; border:2px solid white;'>"
		}
		this.spellWord = function()
		{	var word = this.word.toUpperCase();
			 return word.split('');			
		}
}			
var game = new CatchIt();
var two = setInterval('game.playGame()', 150);
var one = setInterval('game.makeLollipop()',1200);
var sound = new Audio('./../sounds/theme_song.mp3');
sound.play();

</script>
</html>