<html>
<head>
	<meta name="viewport" content="width=1080, user-scalable=no">
	<title>CatchIt</title>
</head>
<style type="text/css">


*{
	font-family:helvetica,arial,sans-serif;
	text-align:center;
}

#wrapper{
	width:1080px; /* 540 */
	height:1680px; /* 960 */
	margin:-10px -10px;
	border:1px solid green;
	background-image:url('./../images/catch/catch_background.jpg'); /* .png */
}
#gameboard{
	margin:225px 0px;
	border:5px solid red;
}
#play{
	font-size:36px;
	background: linear-gradient(#F78181, #FE2E2E, #F78181);
	border-radius:20px;
	border:2px solid #FF0000;
	height:150px;
	width:200px;
	color:white;
}
.lollypop{
	
	width:160px; /* 80 */
	height:260px; /* 130 */
	background-image:url('./../images/catch/lollipop.png');
	
}
.alpha{
	font-family:"Comic Sans MS",helvetica,cursive, sans-serif;
	text-shadow: 5px 5px #FF0000;
	margin-top: 15px;
	font-size:96px;
	font-weight: bold;
	color:white;
	text-align: center;
}
.kid{
width:340px; /* 170 */
	height:400px; /* 200 */
}
#score{
	font-family:"Comic Sans MS", cursive, sans-serif;
	text-shadow: 5px 5px #FF0000;
	font-size: 80px;
	height:200px; /* 100 */
	border:4px solid white;
	color:white;
	vertical-align: top;
}
#score img{

	margin-top: -30px;
}
#image{
	width:150;
}
#points {
width: 200;	
display: inline;
}
#word{
width: 200;	
	display: inline;
}
.huge{
	width:1000px;
	height:1000px;
	background-color: red;
	position: absolute;
	top:350; /* 400 */
	left:30;
	font-size:60px;
	color:white;
	border-radius: 50%;
	opacity: 0.9;
	text-align: center;
}
.huge h1{
	width:800;
	margin-top:400;
	margin-left:100px
}
#controls{
	display: inline-block;
	position: absolute;
	width:1040px; /* 520 */
	height:140px; /* 70 */
	top:1520px; /* 880 */
	left:20px; /* 10 */	
}
.button{
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	width:280px; /* 140 */
	height:140px; /* 70 */
	color:white;
	margin: 0px 5px;
	vertical-align: top;
}

a {
	text-decoration: none;
	color: white;
	font-size:36px;
}

</style>
<body>
	<div id="wrapper">
		<div id="score">
			<div id="image"></div>			
			<div>Score: <div id="points"></div></div>
			<div>Word: <div id="word"></div></div>		
		</div>
		<div id="pop">	
		</div>	
		<div id="win">
			<!-- <h1 class="huge"> Good Job!!!</h1> -->
		</div>	
		<div id="kid">				
		</div>
		<div id="controls">
			<!-- <button id="left" class="button"><</button><button id="middle" class="button">JUMP</button><button id="right" class="button">></button> -->
			<img class="button" id="left" src="./../images/catch/left.png">
			<img class="button" id="middle" src="./../images/catch/star.png">
			<img class="button" id="right" src="./../images/catch/right.png">

		</div>	

	</div>

</body>
<script>

function CatchIt()
{
	var elem = document.getElementById('pop');
	var girl = new Kid();
	var letter = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];
	this.lollipopLetters = [];	
	this.word = new randomWord();
	this.counter = 0;
	this.lollipops = [];
	this.spelling = this.word.spellWord();
	this.result = [];
	var map = [1, 1, 1, 1, 1, 1];
	this.i = 0
	this.score = 0;
	this.playGame = function()
	{		
		this.dropLollipops();
		this.updateLollipop();		
		this.bringDown();
	}
	this.makeLetterArray = function()
	{
		this.lollipopLetters.push(letter[Math.floor(Math.random()*26)]);
		for (var i in this.spelling){
			this.lollipopLetters.push(this.spelling[i]);
		}
	}
	//create a new lollipop and add it to the game
	this.makeLollipop = function()
	{ 
		var alphabet = this.lollipopLetters[Math.floor(Math.random() * 4)];
		var x = Math.floor(Math.random() * 6);
		var y = 120;
		if (map[x] == 1){
			map[x] = 0;
		}
		else{
			while (map[x] = 0){
				x = Math.floor(Math.random()* 6);
			}
			map[x] = 0;
		}
		x = x * 160 + 20;	//x = x * 80 + 20;
		// y = y * 300 + 25;	//y = y * 150 + 25;
		this.counter++;
		var newLolli = new Lollipop(this.counter, x, y, alphabet);
		this.lollipops.push(newLolli);
		//elem.innerHTML += "<img class='lollypop' id='" + newLolli.id +"' src='./../images/catch/alphabets/"+alphabet+".png' style='position:absolute;left:" + newLolli.x + " ;top:"+ newLolli.y +";'>";
		elem.innerHTML += "<div class='lollypop' id='" + newLolli.id +"' style='position:absolute;left:" + newLolli.x + " ;top:"+ newLolli.y +";'><div class='alpha'>"+alphabet+"</div></div>";
		
	}
	this.dropLollipops = function()
	{
		for(var i=this.lollipops.length-1; i>=0; i--)
		{
			this.lollipops[i].y = this.lollipops[i].y + 10;
			if(this.lollipops[i].exist == true && this.lollipops[i].y > 920) //if(this.lollipops[i].exist == true && this.lollipops[i].y > 580)
			{
				document.getElementById(this.lollipops[i].id).remove();
				this.lollipops[i].exist = false;
			}					
		}
	}
	this.updateLollipop = function()
	{
		for(i in this.lollipops){
			pop = document.getElementById(this.lollipops[i].id);
			if(pop)
			{
				pop.style.top = this.lollipops[i].y;
			}
		}
	}
	this.checkLetter = function(letter)	
	{	var sound = new Audio('./../sounds/catch/applause.mp3');
		var sound2 = new Audio('./../sounds/catch/hooray.mp3');
		var points = document.getElementById('points');
		if(this.i < 4)
		{
			if(this.spelling[this.i] == letter){
				sound2.play();
				var result = document.getElementById('word');
				this.score +=10;
				result.innerHTML += letter; 
				points.innerHTML = this.score;
				this.i++;
			}
			if(this.i == 3){

				var win = document.getElementById('wrapper')
				win.innerHTML = "<div class='huge'><h1>Good Job!!!</h1><button id='play'><a href='catchit_game'>Play Again</a></button></div>";
				sound.play();
				clearInterval(one);
				clearInterval(two);
			}		
		}
	}		
	this.detectCollision = function()
	{ 
		for(i in this.lollipops){
			if(this.lollipops[i].exist == true){
				var delta_y = girl.info.top - (this.lollipops[i].y + 260) //var delta_y = girl.info.top - (this.lollipops[i].y + 130)
				var lx = this.lollipops[i].x + 80; //var lx = this.lollipops[i].x + 40;

				if(delta_y <= 0)
				{
					if(lx > girl.info.left && lx < girl.info.left + 170 ) //if(lx > girl.info.left && lx < girl.info.left + 85 )
					{
						var that = this.lollipops[i];
						this.checkLetter(this.lollipops[i].alphabet);
						document.getElementById(that.id).remove();
						 that.exist = false;
					}
				} 
			}	
		}
	}
	this.bringDown = function()
	{
		if(girl.info.jump == true ){
			if(girl.info.top != 1160) //if(girl.info.top != 700)
			{ 
				girl.info.top += 60;
				girl.drawKid();
			}
			else
			{
				girl.info.jump = false;
			}
		}
	}
	this.moveKid = function()
	{	var that = this;
		document.onkeydown = function(e)
		{
			if(e.keyCode == 37 && girl.info.left >= 0)
			{
				girl.info.left -= 30;
				girl.drawKid();
			}
			else if(e.keyCode == 39 && girl.info.left <= 744)
			{
				girl.info.left += 30;
				girl.drawKid();
			}
			else if(e.keyCode == 32)
			{	
				girl.info.top = 860; //girl.info.top = 550;
				girl.jump(girl.info.left, girl.info.top);
				girl.info.jump = true;
				that.detectCollision();
				
			}						
		}
		document.getElementById('left').onclick = function(e){
			if(girl.info.left >= 0)
			{
				girl.info.left -= 30;
				girl.drawKid();
			}

		}
		document.getElementById('right').onclick = function(e){
			if(girl.info.left <= 744) //if(girl.info.left <= 372)
			{
				girl.info.left += 30;
				girl.drawKid();
			}

		}
		document.getElementById('middle').onclick = function(e){
				girl.info.top = 860; //girl.info.top = 550;
				girl.jump(girl.info.left, girl.info.top);
				girl.info.jump = true;
				that.detectCollision();
		}
	}

	this.makeLetterArray();
	this.word.drawImage();
	this.word.spellWord();	
	girl.drawKid();	
	this.moveKid();	
}

function Lollipop(id, x, y, alphabet){	
	this.x = x;//Math.floor(Math.random()*360)+ 100;
	this.y = y+ 80; //80;
	this.id = id;
	this.alphabet = alphabet;
	this.exist = true;

}
function Kid()
{		this.info = {
			top: 1160, //700
			left: 430, //215
			jump: false
		}
		this.drawKid = function()
		{
			var kid = document.getElementById('kid');		
			kid.innerHTML = "<img class='kid' src='./../images/catch/girl.png' style='position:absolute;  left:"+this.info.left+"px; top:"+this.info.top+"px;'>"
		}
		this.jump = function(left, top)
		{
			var kid = document.getElementById('kid');		
			kid.innerHTML = "<img class='kid' src='./../images/catch/girl.png' style='position:absolute;  left:"+left+"px; top:"+top+"px;'>"			
		}		
}
function randomWord()
{		
	var words = ['bee','hat','bus','car','cat','cow','dog','egg','pig','ant'];
		this.word = words[Math.floor(Math.random()*10)];
		this.drawImage = function()
		{
			var image = document.getElementById('image');		
			image.innerHTML = "<img src='./../images/catch/words/Level1/"+this.word+".png' style='position:absolute; width:120; height:160; left:50px; top:50px;'>"
			//image.innerHTML = "<img src='./../images/catch/words/Level1/"+this.word+".png' style='position:absolute; width:60; height:80; left:50px; top:50px; border:2px solid white;'>"
		}
		this.spellWord = function()
		{	var word = this.word.toUpperCase();
			 return word.split('');			
		}
}			
document.onkeydown = function(event){
		if(event.keyCode === 37 || event.keyCode === 39){
			CatchIt.updateKid(event.keyCode)
		}
		else if(event.keyCode === 38){
			CatchIt.updateKid(event.keyCode)
		}
}
var game = new CatchIt();
var two = setInterval('game.playGame()', 150);
var one = setInterval('game.makeLollipop()',1200);
var sound = new Audio('./../sounds/theme_song.mp3');
sound.play();

</script>
</html>