<html>
<head>
	<meta name="viewport" content="width=1080, user-scalable=no">
	<title>PlayIt</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>
	$(document).ready(function (){
		var sound = new Audio('./../sounds/theme_song.mp3');
		sound.play();
		// $('button').click(function (){
		// 	var user_name = prompt("What is your name?");
		// 	alert(user_name);
		// })
	})
	</script> 
</head>
<body>
	<div id="wrapper" class="pop_background">
		<div id="content">
			<h1 class="huge">PlayIt</h1>
			<h3 class="large">Choose a game.</h3>

			<button class='catch_icon icon'><a href="catchit">CatchIt</a></button>
			<button class='match_icon icon'><a href="matchit">MatchIt</a></button>
			<button class='pop_icon icon'><a href="popit">PopIt</a></button>
		</div>
	</div>
</body>
</html>