* {
	font-family: helvetica, arial, sans-serif;
	text-align: center;
}

#wrapper {
	width: 540px;
	height: 840px;
	margin: -10px -10px;
	background-color: #81DAF5;
}

.catch_background{
	background-image:url('./../images/catch/catch_background.jpg');
	background-size: 100%;
	position: absolute;
}

.match_background{
	background-image:url('./../images/match/match_background2.png');
	background-size: 100%;
	position: absolute;
}

.pop_background {
	background-image:url('./../images/pop/pop_background.jpg');
	background-size: 100%;
	position: absolute;
}

#content {
	margin: 150px 0px 0px 0px;
}

.icon {
	border-radius: 5px;
	border: 2px solid #FF0000;
	height: 75px;
	width: 75px;
	color: white;
	font-weight: bold;
	font-size: 13pt; 
	text-decoration: none;
	text-align: center;
}

.catch_icon {
	background: linear-gradient(#F78181, #FE2E2E, #F78181);
	border: 2px solid #FF0000;
}
.match_icon {
	background: linear-gradient(#82FA58,#31B404,#82FA58);
	border: 2px solid #04B404;
}
.pop_icon {
	background:linear-gradient(#58ACFA,#2E64FE,#58ACFA);
	border: 2px solid #013ADF;
}

#play_music {
	background-color: orange;
}

.button {
	border-radius: 5px;
	border: 2px solid #31B404;
	height: 50px;
	width: auto;
	padding: 0px 10px;
	display: block;
	margin: 20px auto;
}

.catch_btn{
	background: linear-gradient(#A5DF00,#04B404,#A5DF00);
	border: 2px solid #31B404;
}

.match_btn{
	background: linear-gradient(#58ACFA,#2E64FE,#58ACFA);
	border: 2px solid #2E64FE;
}

.pop_btn{
	background: linear-gradient(#F78181, #FE2E2E, #F78181);
	border: 2px solid #FF0000;
}

.huge {
	font-size: 100pt;
	margin: 0px;
	color: white;
}

.large {
	font-size: 40pt;
	color: white;
	margin: 40px auto;
}

.medium{
	font-size: 20pt;
	color: white;
}

a {
	color: white;
	font-weight: bold;
	font-size: 13pt; 
	text-decoration: none;
	text-align: center;
}

button {
	margin: 10px;
}