* {
	margin: 0px;
	font-family: helvetica, arial, sans-serif;
	text-align: center;

}
#wrapper {
	height: 840px; width: 540px;
	position: absolute;
	background-image: url('./../images/pop/pop_background_2.jpg');
	background-size: 100%;
	text-align: center;
	color: white;
}

#info {
	border-bottom: 3px solid white;
	margin-bottom: 10px;
	text-align: left;
	font-size: 25px;
	padding: 0px 10px;
}

#end {
	position: absolute;
	width: 100%;
	top: 300px;
	text-align: center;
	color: green;
	font-size: 50px;
}

#instructions {
	position: absolute;
	width: 100%;
	top: 0px;
}

.vert-top {
	position: absolute;
	top: 0px;
	width: 100%;
	text-align: center;
	z-index: 100;
}

.vert-cent {
	position: absolute;
	top: 430px;
	width: 100%;
	text-align: center;
}

.gigantic {
	margin-top: 50px;
	font-size: 250px;
}

.huge {
	font-size: 80pt;
	color: white;
}

.large {
	font-size: 40pt;
	color: white;
}

.medium {
	font-size: 20pt;
}

.inline {
	display: inline-block; vertical-align: top;
}

h3.inline {
	width: 225px;
	text-align: left;
	padding: 0px;
	font-weight: 400;
}

h3.right {
	text-align: right;
}

h3.center {
	width: 55px;
	text-align: center;
}

.left {
	text-align: left;
}

h3.red {
	color: red;
	font-weight: 800;
}

.balloon {
	position: absolute;
	height: 130px; width: 100px;
}

.red_btn{
	background: linear-gradient(#F78181, #FE2E2E, #F78181);
	border: 2px solid #FF0000;
}

.green_btn {
	background: linear-gradient(#82FA58,#31B404,#82FA58);
	border: 2px solid #04B404;
}

.button {
	height: 75px; width: 75px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 13pt; 
	color: white;
	text-decoration: none;
	text-align: center;
}

.huge_button {
	height: 150px; width: 150px;
	border-radius: 13px;
	margin-top: 50px;
	font-weight: bold;
	font-size: 25px; 
	color: white;
	text-decoration: none;
	text-align: center;

}

button {
	margin: 10px;
	vertical-align: top;
}

a {
	color: white;
	font-weight: bold;
	font-size: 13pt; 
	text-decoration: none;
	text-align: center;
}