img{
	position:absolute;
}
p{
	display: inline-block;
}
button{
	margin-top:25px;
	border-radius: 5px;
	border: 1px solid white;
	background:blue;
	width:125px;
	height:38px;
}
a{
	text-decoration:none;
	color:white;
	font-size:10pt;
}
h1{
	text-align:center;
}
.matchthis{
	width:100px;
	height:120px;
}
.random_image{
	margin-left:55px;
	margin-top:25px;
	position:absolute;
}
#main_bubble{
	margin-top:350px;
	margin-left:100px;
}
#result_msg{
	font-size:45pt;
	background-color:black;
	color:white;
	width:300px;
	height:300px;
	opacity:0.7;
	border-radius:50%;
	margin:50px auto;
	padding:90px;
	text-align:center;
}